<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Marvel universe</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/fontawesome.kit.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>
<h1>
    <a th:href="@{/}">[ home ]</a>
    List the Marvel universe
</h1>
<a th:href="@{/list-the-marvel-universe(action='sort-by-title')}">[sort by title]</a>
<a th:href="@{/list-the-marvel-universe(action='sort-by-popularity')}">[sort by popularity]</a>
<a th:href="@{/list-the-marvel-universe(action='sort-by-release-date')}">[sort by release date]</a>
<a th:href="@{/list-the-marvel-universe(action='sort-by-vote-average')}">[sort by vote average]</a>
<a th:href="@{/list-the-marvel-universe(action='sort-by-vote-count')}">[sort by vote count]</a>
<div>

    <!--    <table class="table">-->
    <table class="table table-bordered table-sortable">
        <thead class="thead-light">
        <tr>
            <th:block th:switch="${action}">
                <th th:case="'sort-by-title-asc'" th:onclick="sortByTitle('descending')">Title <i class="fa-solid fa-sort"></i></th>
                <th th:case="'sort-by-title-desc'" th:onclick="sortByTitle('ascending')">Title <i class="fa-solid fa-sort"></i></th>
                <th th:case="*" th:onclick="sortByTitle('ascending')">Title <i class="fa-solid fa-sort"></i></th>
            </th:block>
<!--            <th th:if="${action} == 'sort-by-title-asc'" th:onclick="sortByTitle('descending')">Title <i class="fa-solid fa-sort"></i></th>-->
<!--            <th th:if="${action} == 'sort-by-title-desc'" th:onclick="sortByTitle('ascending')">Title <i class="fa-solid fa-sort"></i></th>-->
            <th>Popularity</th>
            <th>Release date</th>
            <th>Vote average</th>
            <th>Vote count</th>
        </tr>
        </thead>
        <th:block th:each="mu : ${theMarvelUniverse}">
            <tr>
                <td th:text="${mu.originalTitle}">Spider-Man: No Way Home</td>
                <td th:text="${mu.popularity}">441.48</td>
                <td th:text="${mu.releaseDate}">2021-12-15</td>
                <td th:text="${mu.voteAverage}">8</td>
                <td th:text="${mu.voteCount}">16450</td>
            </tr>
        </th:block>
    </table>
    <!--    private String originalTitle;-->
    <!--    private BigDecimal popularity;-->
    <!--    ==> private String posterPath;-->
    <!--    private LocalDate releaseDate;-->
    <!--    private int voteAverage;-->
    <!--    private int voteCount;-->

</div>
</body>
</html>